body{
  background-color: #0b1721;

}
.juego {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  margin-top: 2%;
  margin-left: 39%;
}
.title {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin-left: 3%;
 
}
.contenedor {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}
.contenedor2 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  background-color: rgba(225, 225, 225, 0);
  height: 310px;
  width: 303px;
  margin-top: 85px;
  position: absolute;
}
.contenedor3{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  background-color: rgba(0, 0, 0, 0);
  height: 310px;
  width: 303px;
  margin-top: 85px;
  position: absolute;
}
#contenedor3{
  display: none;
}

.miniC {
  height: 100px;
  width: 100px;
  font-size: 70px;
  font-family: 'Times New Roman', Times, serif;
  background-color: transparent;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  color: white;
}
.gridFinal{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
#div1{
  border-left: none;
}
#div4{
  border-left: none;
}
#div7{
  border-left: none;
  border-bottom: none;
}
#div8{
  border-bottom: none;
}
#div9{
  border-bottom: none;
}

#nombreTurno{
  font-family: cursive;
  margin-left: 5%;
  color: white;
}
#reiniciar{
  height: 50px;
  width: 120px;
  background-color: rgb(38, 38, 95);
  color: white;
  font-family: cursive;
  font-size: 15px;
  border-radius: 100px;
  margin-left: 11%;
}
#reiniciar:hover{
  transition: 1s ease;
  box-shadow: 10px 10px 100px rgb(255, 255, 255);
}
.contenedor2{
  pointer-events: none;
  opacity: 0.5;
}
