.juego {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  margin-top: 2%;
  margin-left: 40%;
}
.title {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
 
}
.contenedor {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}
.miniC {
  height: 100px;
  width: 100px;
  font-size: 70px;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
}
.gridFinal{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
#div1{
  border-left: none;
}
#div4{
  border-left: none;
}
#div7{
  border-left: none;
  border-bottom: none;
}
#div8{
  border-bottom: none;
}
#div9{
  border-bottom: none;
}
.objCenter {
  font-size: 200%;
  background-color: red;
  height: 50px;
  width: 50px;
  margin-left: 25%;
  margin-top: 25%;
}
#Style-X {
  font-size: 40px;
  font-family: cursive;
  margin-left: 35px;
  margin-top: 20px;
}
#nombreTurno{
  font-family: cursive;
  margin-left: 8%;
}
#reiniciar{
  height: 50px;
  width: 120px;
  background-color: rgb(38, 38, 95);
  color: white;
  font-family: cursive;
  font-size: 15px;
  border-radius: 100px;
  margin-left: 15%;
}
#reiniciar:hover{
  transition: 1s ease;
  box-shadow: 10px 10px 100px rgb(38, 38, 95);
}
